#big-container{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    background-color: purple;
}
.row{
    display: flex;
    flex:auto;
    background-color: blue;
}
.box{
    background-color: lightgray;
    flex:auto;
}